#contact-form {
    height: 650px;
    width: 600px;
    color: black;
    position: absolute;
}

.contact {
    padding: 4%;
    height: 400px;
}

#contactTitle {
    background: #ff9b00;
    padding: 4% !important;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
}

#contactForm {
    background: #fff;
    padding: 3% !important;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

.contact-form button:focus {
    box-shadow: none;
}