#searchbar{
    width: 1065px;
    position: absolute;
}

#searchbar h1 {
    font-size: 64px;
    display: inline-block;
}

#searchbar img {
    width: 300px;
}

#logo {
    margin-bottom: 10px;
}

#searchResult {
    width: 1000px;
    height: 760px;
    position: absolute;
    overflow: scroll;
}

#searchResult .card-text {
    margin-left: 5px;
}

#searchResult .cardInfo {
    margin-right: 10px;
}

.card:hover {
    transform: perspective(6000px) translateZ(50px);
}

.cardInfo {
    color: #686868;
}

.cardInfo .col {
    padding: 0px;
}

.imageContainer {
    position: relative;
    text-align: center;
    color: white;
}

.imageContainer div {
    position: absolute;
    bottom: 2px;
    right: 10px;
}

#video {
    position: absolute;
    visibility: hidden;
    width: 2000px;
}